<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar</title>
</head>
<body>
    <form method="post">
        
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" required placeholder="Digite seu nome."><br>
        
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required placeholder="Digite seu email"><br>
        
        <label for="endereco">endereço</label>
        <input type="text" name="endereco" id="endereco" required><br>
        
        <label for="cpf">CPF</label>
        <input type="cpf" name="cpf" id="cpf" required><br>
        
        <label for="telefone">Telefone</label>
        <input type="telefone" name="telefone" id="telefone" required><br>
        
        <label for="genero">Genero</label>
        <input type="genero" name="genero" id="genero" required><br>
        
        <label for="idade">idade</label>
        <input type="idade" name="idade" id="idade" required><br>
        
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" required><br>
       
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>